@import 
url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
/* imported Urbanist font */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
/* imported Oswald font */




#class { 
    font-family: Urbanist;

}

/* @keyframes rainbow {
    0% {background-color: #cc0000;} 
    20% {background-color: #fb7c05;} 
    40% {background-color: #FBBC05;} 
    60% {background-color: #429C0E;}
    80% {background-color: #3A92EC;}
    100% {background-color: #770fd8;}
  } */

  html {
    background: #ffffff;
    animation-name:rainbow;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #0C5770;
    padding: 25px;
   
}

  body {
    font-family: Oswald;
    color: #0C5770;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: all 725ms ease-in-out;
}

p2 {
  text-align: center;
  padding: 45;
}

footer {
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  background-color:  #0C5770;
  height: 200px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

footer h4 {
  display: flex;
  color: white;
  font-size: 30px;
  font-family: 'Comforter', cursive;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 10px;
}

footer ul li {
  display: inline;
  align-items: center;
}

a:link {
  text-decoration: none; 
}

a:visited {
  text-decoration: none;
  color:#ffffff
}

a:hover {
  text-decoration: underline;

}

a:active {
  text-decoration: none;
}

.nobull {
  list-style-type: none;
}
/*
.squarepx {
  height: 50px;
  width: 50px;
  background-color: black;

}

.squareem {
  height: 5em;
  width: 5em;
  background-color: black;
  
}

.squarepc {
  height: 50%;
  width: 50%;
  background-color: black;
  
}

*/